
<%= turbo_frame_tag "post_#{post.id}" do %>
  <div id="<%= dom_id post %>">
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <%= post.title %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Article:</strong>
      <%= post.article %>
    </p>

    <div class="flex">
      <%= button_to "Destroy this post", post_path(post), data: { turbo_frame: "second_frame" },method: :delete, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Show this post', post_path(post),data: { turbo_frame: "_top" }, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit this post", edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
      <hr class="mt-6">
  </div>
<% end %>
